<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Site Lucas Rivoal</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/webjars/sweetalert2/11.10.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
    <script type="module" src="typescript.js"></script>
    <script src="/webjars/sweetalert2/11.10.1/dist/sweetalert2.min.js"></script>
</head>
<body class="home">
    <div th:replace="~{fragments/barre :: nav-barre}"></div>
    <div class="up-windows">
        <div th:replace="~{fragments/search :: search}"></div>
        <div th:replace="~{fragments/theme :: theme_switch}"></div>
    </div>
    
    <div class="general_doc">
        <div class="Explication">
            <div class="left_doc">
                <a class="paragraphe_doc">Ici vous pouvez rajouter des documents que vous jugez utile. Attention, malgrès tous pour pouvoir faire cela il faut être connecté et donc être un utilisateur.</a>
                <button class="add_file">Ajouter un fichier</button>
            </div>
            <div class="right_doc">
                <a class="paragraphe_doc">Ici vous retrouverez des documents proposer aléatoirement ainsi qu'une rubrique mots-clés. Que vous soyez un utilisateur ou non vous pouvez proposer des ajouts de mots-clés sur des fichiers déjà existants. Néanmoins, attention ce n'est pas parce que vous proposerez un mot-clé que celui-ci sera forcément validé. Il sera étudié en ammont.</a>
                <button class="add_file">Nouveau mot-clé</button>
            </div>
        </div>
    </div>
</body>
</html>
