<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Site Lucas Rivoal</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="swipper.css">
    <link rel="stylesheet" href="/webjars/sweetalert2/11.10.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
    <script type="module" src="typescript.js"></script>
    <script src="/webjars/sweetalert2/11.10.1/dist/sweetalert2.min.js"></script>
</head>
<body class="home">
    <div th:replace="~{fragments/barre :: nav-barre}"></div>
    <div class="fragments_etu">
        <div th:replace="~{fragments/theme :: theme_switch}"></div>
    </div>

    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide collège">Collège</div>
            <div class="swiper-slide lycée">Lycée</div>
            <div class="swiper-slide université">Université</div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="etudes.js"></script>
</body>
</html>

<!--On peut même enrichir le tout avec des librairies JS (GSAP, fullPage.js, Swiper.js) pour des animations très vivantes.-->
<!--voir aussi des templates.-->