<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Site Lucas Rivoal</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/webjars/sweetalert2/11.10.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
    <script type="module" src="typescript.js"></script>
    <script src="/webjars/sweetalert2/11.10.1/dist/sweetalert2.min.js"></script>
</head>
<body class="home">
    <div th:replace="~{fragments/barre :: nav-barre}"></div>
    <div th:replace="~{fragments/theme :: theme_switch}"></div>
    <div class="Presentation">
        <div class="text_profil">
            <strong class="Nom">Lucas Rivoal</strong>
            <p>
                <i class="fa-solid fa-greater-than"></i>
                Étudiant en Informatique à l'<a href="https://www.u-bordeaux.fr" class="UXB">Université de Bordeaux</a>
            </p>
            <p>
                <i class="fa-solid fa-greater-than"></i>
                Diplomé d'un BAC+2 en Informatique 
            </p>
        </div>
        <a>
            <img src="images/portrait.png" alt="Photo de profil" class="photo_profil">
        </a>
    </div>
    <div class="general">
        <div class="left-general">
            <div class="bio">
                <div class="title_bio">
                    <i class="fa-solid fa-user"></i>
                    <p>Biographie</p>
                </div>
                <div class="biographie">
                    <p>
                        Né en 2004, j'ai eu une enfance bercée dans l'émergence de la technologie numérique. J'ai donc eu la chance de me familiariser assez tôt avec ce milieu et j'ai toujours eu cette envie de travailler dans ce milieu, visant à chercher à créer, modifier, apporter quelque chose dans ce domaine, souhaitant y laisser une trace. Actuellement, étudiant en 3ème année d'Université à l'                        
                        <a href="https://www.u-bordeaux.fr" class="UXB">Université de Bordeaux</a>, je suis diplômé d'une licence Informatique (BAC+2), continuant donc en gardant en tête l'idée d'accomplir cet objectif que je me suis fixé.
                    </p>
                </div>
            </div>
            <div class="contact"> 
                <div class="title_contact">
                    <i class="fa-solid fa-phone"></i>
                    <p>Contact</p>
                </div>
                <div class="email_perso">
                    <i class="fa-solid fa-envelope"></i>
                    <p>lucas.rivoal.pro@gmail.com</p>
                </div>
                <div class="email_universitaire">
                    <i class="fa-solid fa-envelope"></i>
                    <p>lucas.rivoal@etu.u-bordeaux.fr</p>
                </div>
                <div class="git">
                    <i class="fab fa-github"></i>
                    <a href="http://github.com/Riders08" class="github">Riders08</a>
                </div>
                <div class="phone">
                    <i class="fa-solid fa-mobile"></i>
                    <p>(+33) 7 68 85 37 63 </p>
                </div>
                <div class="adresse">
                    <i class="fa-solid fa-location-dot"></i>
                    <div>
                        <p>8 Rue du levant,</p>
                        <p>Résisdence le Château, 33140 Villenave d'Ornon</p>
                    </div>    
                </div>
            </div>
        </div>
        <div class="right-general">
            <div class="interets">
                <div class="title_interets">
                    <i class="fa-solid fa-search"></i>
                    <p>Centres d'intérêts</p>
                </div>
                <div class="intérêts">
                    <p>Voici une liste de ce qui m'a le plus dans tout mon parcours informatique :</p>
                    <ul class="list_interets">
                        <li>
                            Language web HTML,CSS type front-end
                        </li>
                        <li>
                            Découverte du TypeScript
                        </li>
                        <li>
                            Language de programmation C(<a href="/projets" class="proj">projets codées via ce language</a>)
                        </li>
                        <li>
                            Découverte des bases de données, principalement vu via SQL
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
