<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Site Lucas Rivoal</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/webjars/sweetalert2/11.10.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
    <script type="module" src="typescript.js"></script>
    <script src="/webjars/sweetalert2/11.10.1/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" th:href="@{/style_forbidden.css}">
</head>
<body class="home">
    <div id="app">
        <div>403</div>
        <div class="txt">
            Forbidden<span class="blink">_</span>
        </div>
    </div>
</body>
</html>
