<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Site Lucas Rivoal</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/webjars/sweetalert2/11.10.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
    <script type="module" src="typescript.js"></script>
    <script type="module" src="projets.js"></script>
    <script src="/webjars/sweetalert2/11.10.1/dist/sweetalert2.min.js"></script>
</head>
<body class="home">
    <div th:replace="~{fragments/barre :: nav-barre}"></div>
    <div th:replace="~{fragments/theme :: theme_switch}"></div>
    <div class="General_project_page">
        <p class="introduction">
            Ici, vous pourrez retrouver une rétrospective de l'ensemble des projets que j'ai réalisés depuis l'ensemble de mon parcours.
            Certains sont achevés, d'autres inachevés, certains ont été réalisés en groupes tandis que certains sont personnels (comme la création de ce site par exemple).
            Bien évidemment, certains sont nés via l'idée de mon Université et d'autres proviennent de ma propre initiative.
            L'objectif de cette rubrique vous permettra donc de pouvoir constater l'état des autres projets auxquels j'ai contribué ainsi que de pouvoir voir l'ensemble des compétences informatiques que j'ai acquises jusqu'à maintenant.
        </p>
    </div>
    <div class="List_of_Projects">
        <div class="left-project">
            <div class="Mosaïc">
                <div class="title_project">
                    <p> <i class="fa-solid fa-gamepad"></i> Mosaïc</p>
                </div>
                <div class="projet_mosaïc">
                    <div class="elements_project">
                        <div class="url_project">
                            <a><i class="fab fa-github"></i> : <a href="https://github.com/Riders08/Mosaic" class="github_project">Mosaic</a></a>
                        </div>
                        <div class="state_project">
                            <a>État :  <i class="fa-solid fa-battery-full"></i></a>
                        </div>
                        <div class="language_project">
                            <a><i class="fa-solid fa-laptop-code"></i> : C</a>
                        </div>
                        <div class="date_project">
                            <a><i class="fa-solid fa-calendar"></i> : 2023-2024</a>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="text_project">
                            <p>
                                Ce projet a été réalisé à l'Université durant ma seconde année, l'objectif d'origine était de réaliser un projet en groupe pour la première fois.<br>
                                J'ai donc réalisé ce projet avec Balavoine Kyrian et Lansana Diallo.<br>
                                J'ai beaucoup apprécié réaliser ce projet car j'ai acquis beaucoup de connaissances qui me servent encore aujourd'hui.<br>
                                Néanmoins, dire qu'il n'y eut aucun aspect négatif serait un mensonge.<br>
                            </p>
                        </div>
                        <div class="points_projects">
                            <div class="advantage_project">
                                <div class="column_plus">
                                    <i class="fa-solid fa-square-plus"></i>
                                </div>
                                <div class="content_plus">
                                    <li class="argument">
                                        La maîtrise d'un makefile et à quoi ça sert.
                                    </li>
                                    <li class="argument">
                                        L'intérêts de générer des tests.
                                    </li>
                                    <li class="argument">
                                        Première expérience sur la création graphique.
                                    </li>
                                </div>
                            </div>
                            <div class="disadvantage_project">
                                <div class="column_minus">
                                    <i class="fa-solid fa-square-minus"></i>
                                </div>
                                <div class="content_minus">
                                    <li class="argument">
                                        Première expérience avec un cooéquipier pour le moins absent.
                                    </li>
                                    <li class="argument">
                                        Première grosse difficulté rencontrés sur la compréhension de réaliser une fonction(Undo/Redo).
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>    
        </div>
        <div class="right-project">
            <div class="Mosaïc">
                <div class="title_project">
                    <p> <i class="fa-solid fa-gamepad"></i> Mosaïc</p>
                </div>
                <div class="projet_mosaïc">
                    <div class="elements_project">
                        <div class="url_project">
                            <a><i class="fab fa-github"></i> : <a href="https://github.com/Riders08/Mosaic" class="github_project">Mosaic</a></a>
                        </div>
                        <div class="state_project">
                            <a>État :  <i class="fa-solid fa-battery-full"></i></a>
                        </div>
                        <div class="language_project">
                            <a><i class="fa-solid fa-laptop-code"></i> : C</a>
                        </div>
                        <div class="date_project">
                            <a><i class="fa-solid fa-calendar"></i> : 2023-2024</a>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="text_project">
                            <p>
                                Ce projet a été réalisé à l'Université durant ma seconde année, l'objectif d'origine était de réaliser un projet en groupe pour la première fois.<br>
                                J'ai donc réalisé ce projet avec Balavoine Kyrian et Lansana Diallo.<br>
                                J'ai beaucoup apprécié réaliser ce projet car j'ai acquis beaucoup de connaissances qui me servent encore aujourd'hui.<br>
                                Néanmoins, dire qu'il n'y eut aucun aspect négatif serait un mensonge.<br>
                            </p>
                        </div>
                        <div class="points_projects">
                            <div class="advantage_project">
                                <div class="column_plus">
                                    <i class="fa-solid fa-square-plus"></i>
                                </div>
                                <div class="content_plus">
                                    <li class="argument">
                                        La maîtrise d'un makefile et à quoi ça sert.
                                    </li>
                                    <li class="argument">
                                        L'intérêts de générer des tests.
                                    </li>
                                    <li class="argument">
                                        Première expérience sur la création graphique.
                                    </li>
                                </div>
                            </div>
                            <div class="disadvantage_project">
                                <div class="column_minus">
                                    <i class="fa-solid fa-square-minus"></i>
                                </div>
                                <div class="content_minus">
                                    <li class="argument">
                                        Première expérience avec un cooéquipier pour le moins absent.
                                    </li>
                                    <li class="argument">
                                        Première grosse difficulté rencontrés sur la compréhension de réaliser une fonction(Undo/Redo).
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="Mosaïc">
                <div class="title_project">
                    <p> <i class="fa-solid fa-gamepad"></i> Mosaïc</p>
                </div>
                <div class="projet_mosaïc">
                    <div class="elements_project">
                        <div class="url_project">
                            <a><i class="fab fa-github"></i> : <a href="https://github.com/Riders08/Mosaic" class="github_project">Mosaic</a></a>
                        </div>
                        <div class="state_project">
                            <a>État :  <i class="fa-solid fa-battery-full"></i></a>
                        </div>
                        <div class="language_project">
                            <a><i class="fa-solid fa-laptop-code"></i> : C</a>
                        </div>
                        <div class="date_project">
                            <a><i class="fa-solid fa-calendar"></i> : 2023-2024</a>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="text_project">
                            <p>
                                Ce projet a été réalisé à l'Université durant ma seconde année, l'objectif d'origine était de réaliser un projet en groupe pour la première fois.<br>
                                J'ai donc réalisé ce projet avec Balavoine Kyrian et Lansana Diallo.<br>
                                J'ai beaucoup apprécié réaliser ce projet car j'ai acquis beaucoup de connaissances qui me servent encore aujourd'hui.<br>
                                Néanmoins, dire qu'il n'y eut aucun aspect négatif serait un mensonge.<br>
                            </p>
                        </div>
                        <div class="points_projects">
                            <div class="advantage_project">
                                <div class="column_plus">
                                    <i class="fa-solid fa-square-plus"></i>
                                </div>
                                <div class="content_plus">
                                    <li class="argument">
                                        La maîtrise d'un makefile et à quoi ça sert.
                                    </li>
                                    <li class="argument">
                                        L'intérêts de générer des tests.
                                    </li>
                                    <li class="argument">
                                        Première expérience sur la création graphique.
                                    </li>
                                </div>
                            </div>
                            <div class="disadvantage_project">
                                <div class="column_minus">
                                    <i class="fa-solid fa-square-minus"></i>
                                </div>
                                <div class="content_minus">
                                    <li class="argument">
                                        Première expérience avec un cooéquipier pour le moins absent.
                                    </li>
                                    <li class="argument">
                                        Première grosse difficulté rencontrés sur la compréhension de réaliser une fonction(Undo/Redo).
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div> 
        </div>    
    </div>
</body>
</html>
