<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Site Lucas Rivoal</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/webjars/sweetalert2/11.10.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
    <script type="module" src="typescript.js"></script>
    <script type="module" src="My_composents.js"></script>
    <script type="module" src="projets.js"></script>
    <script src="/webjars/sweetalert2/11.10.1/dist/sweetalert2.min.js"></script>
</head>
<body class="home">
    <div th:replace="~{fragments/barre :: nav-barre}"></div>
    <div th:replace="~{fragments/theme :: theme_switch}"></div>
    <div class="General_project_page">
        <p class="introduction">
            Ici, vous pourrez retrouver une rétrospective de l'ensemble des projets que j'ai réalisés depuis l'ensemble de mon parcours.
            Certains sont achevés, d'autres inachevés, certains ont été réalisés en groupes tandis que certains sont personnels (comme la création de ce site par exemple).
            Bien évidemment, certains sont nés via l'idée de mon Université et d'autres proviennent de ma propre initiative.
            L'objectif de cette rubrique vous permettra donc de pouvoir constater l'état des autres projets auxquels j'ai contribué ainsi que de pouvoir voir l'ensemble des compétences informatiques que j'ai acquises jusqu'à maintenant.
        </p> 
    </div>
    <div class="List_of_Projects">
        <div class="Video_Tracker element">
            <div class="title_project">
                <p><i class="fa-solid fa-video"></i>  Video Tracker</p>
            </div>
            <div class="projet_video">
                <div class="elements_project">
                    <div class="url_project">
                        <a><i class="fab fa-github"></i> : <a class="github_project">Projet Logiciel</a></a>
                    </div>
                    <div class="state_project">
                        <a>État :  <i class="fa-solid fa-battery-full"></i></a>
                    </div>
                    <div class="language_project">
                        <a><i class="fa-solid fa-laptop-code"></i> : Python</a>
                    </div>
                    <div class="date_project">
                        <a><i class="fa-solid fa-calendar"></i> : 2023</a>
                    </div>
                </div>
                <div class="summary">
                    <div class="text_project">
                        <p>
                            Ce projet est techniquement le premier projet "sérieux" que j'ai réalisé.<br>
                            J'ai réalisé ce dernier avec un binôme du nom de Clément.<br>
                            L'objectif de ce projet était de réaliser un lecteur vidéo qui puisse lire une vidéo, la mettre sur pause, la relancer<br> ainsi qu'avoir l'opportunité d'y placer des points afin de pouvoir à l'issue de ces points en créer un graphique.<br>
                            Mes attentes dans ce projet étaient principalement de découvrir le travail en binôme car ayant réalisé mes années de lycée pendant la crise sanitaire,<br>je n'avais pas eu la chance de réaliser de projet en groupe, cela avait été remplacé par des travaux individuels.<br>
                        </p>
                    </div>
                    <div class="points_projects">
                        <div class="advantage_project">
                            <div class="column_plus">
                                <p><i class="fa-solid fa-square-plus"></i></p>
                            </div>
                            <div class="content_plus">
                                <li class="argument">
                                    Ce projet m'a permis d'apprendre à utiliser <a href="https://git-scm.com" class="url-git">Git</a>
                                </li>
                                <li class="argument">
                                    Ce projet m'a également appris beaucoup de choses qui m'ont énormément aidé.<br>
                                    <my-space number="5"></my-space>Pas de par le projet en lui-même,<br>   
                                    <my-space number="5"></my-space>mais surtout grâce à mon binôme qui m'a montré énormément de choses très utiles.
                                </li>
                                <li class="argument">
                                    J'ai appris l'importance d'un système MVC(Model, View, Controller) pour un projet.
                                </li>
                            </div>
                        </div>
                        <div class="disadvantage_project">
                            <div class="column_minus">
                                <p><i class="fa-solid fa-square-minus"></i></p>
                            </div>
                            <div class="content_minus">
                                <li class="argument">
                                    Le temps, c'est sans aucun doute le point qui m'aura traumatisé dans ce projet.<br>
                                    <my-space number="5"></my-space>Attention, je ne dis pas que l'on n'avait pas suffisamment de temps.<br> 
                                    <my-space number="5"></my-space>Mais plutôt le moment où l'on nous a confié ce projet.<br>
                                    <my-space number="5"></my-space>Car pendant cette période, j'ai commencé à être initié au langage JavaScript, HTML, C.<br>
                                </li>
                                <li class="argument">
                                    Le principal inconvénient était que le cours supposait un niveau déjà avancé en informatique,<br>
                                    <my-space number="5"></my-space>ce qui le rendait difficile à suivre.<br>
                                    <my-space number="5"></my-space>Résultat : j’ai eu du mal à comprendre le projet et à progresser au même rythme que prévu.<br> 
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="Mosaïc element">
            <div class="title_project">
                <p> <i class="fa-solid fa-gamepad"></i> Mosaïc</p>
            </div>
            <div class="projet_mosaïc">
                <div class="elements_project">
                    <div class="url_project">
                        <a><i class="fab fa-github"></i> : <a class="github_project">Mosaïc</a></a>
                    </div>
                    <div class="state_project">
                        <a>État :  <i class="fa-solid fa-battery-full"></i></a>
                    </div>
                    <div class="language_project">
                        <a><i class="fa-solid fa-laptop-code"></i> : C</a>
                    </div>
                    <div class="date_project">
                        <a><i class="fa-solid fa-calendar"></i> : 2023-2024</a>
                    </div>
                </div>
                <div class="summary">
                    <div class="text_project">
                        <p>
                            Ce projet a été réalisé à l'Université durant ma seconde année, l'objectif d'origine était de réaliser un projet en groupe pour la première fois.<br>
                            J'ai donc réalisé ce projet avec Balavoine Kyrian et Lansana Diallo.<br>
                            J'ai beaucoup apprécié réaliser ce projet car j'ai acquis beaucoup de connaissances qui me servent encore aujourd'hui.<br>
                            Néanmoins, dire qu'il n'y eut aucun aspect négatif serait un mensonge.<br>
                        </p>
                    </div>
                    <div class="points_projects">
                        <div class="advantage_project">
                            <div class="column_plus">
                                <p><i class="fa-solid fa-square-plus"></i></p>
                            </div>
                            <div class="content_plus">
                                <li class="argument">
                                    La maîtrise d'un makefile et à quoi ça sert.
                                </li>
                                <li class="argument">
                                    L'intérêts de générer des tests.
                                </li>
                                <li class="argument">
                                    Première expérience sur la création graphique.
                                </li>
                            </div>
                        </div>
                        <div class="disadvantage_project">
                            <div class="column_minus">
                                <p><i class="fa-solid fa-square-minus"></i></p>
                            </div>
                            <div class="content_minus">
                                <li class="argument">
                                    Première expérience avec un cooéquipier pour le moins absent.
                                </li>
                                <li class="argument">
                                    Première grosse difficulté rencontrés sur la compréhension de réaliser une fonction(Undo/Redo).
                                </li>
                                <li class="argument">
                                    Un autre point négatif, c'est l'encadrement strict de ce projet qui nous a été imposé.
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="Puissance_4 element">
            <div class="title_project">
                <p> <i class="fa-solid fa-gamepad"></i> Puissance 4</p>
            </div>
            <div class="projet_puissance_4">
                <div class="elements_project">
                    <div class="url_project">
                        <a><i class="fab fa-github"></i> : <a class="github_project">Puissance 4</a></a>
                    </div>
                    <div class="state_project">
                        <a>État :  <i class="fa-solid fa-battery-half"></i></a>
                    </div>
                    <div class="language_project">
                        <a><i class="fa-solid fa-laptop-code"></i> : C</a>
                    </div>
                    <div class="date_project">
                        <a><i class="fa-solid fa-calendar"></i> : 2024</a>
                    </div>
                </div>
                <div class="summary">
                    <div class="text_project">
                        <p>
                            Tout en faisant le projet Mosaïc, je me suis demandé si j'étais capable de réaliser un projet similaire de mon côté.<br>
                            L'objectif de ce projet était principalement de voir les mêmes éléments que le projet Mosaïc, mais de façon complètement autonome.<br>
                            J'ai donc réalisé ce projet seul.<br>
                            Bien que ce projet était très passionnant, j'ai malheureusement dû le mettre de côté petit à petit étant débordé par le projet Mosaïc initial<br>ainsi que les autres projets que l'on a commencé à me donner.<br>
                            Mais bien sûr, ce projet n'est pas abandonné.<br>
                        </p>
                    </div>
                    <div class="points_projects">
                        <div class="advantage_project">
                            <div class="column_plus">
                                <p><i class="fa-solid fa-square-plus"></i></p>
                            </div>
                            <div class="content_plus">
                                <li class="argument">
                                    La maîtrise d'un makefile et à quoi ça sert.
                                </li>
                                <li class="argument">
                                    L'intérêts de générer des tests.
                                </li>
                                <li class="argument">
                                    Liberté de codage<br>
                                    <my-space number="5"></my-space>(Par là, je souhaite dire que j'ai été libre de choisir<br>
                                    <my-space number="5"></my-space>comment créer mes types avec ces différents arguments)
                                </li>
                            </div>
                        </div>
                        <div class="disadvantage_project">
                            <div class="column_minus">
                                <p><i class="fa-solid fa-square-minus"></i></p>
                            </div>
                            <div class="content_minus">
                                <li class="argument">
                                    Génération des Tests<br>
                                    <my-space number="5"></my-space>(J'ai commencé a créer des tests dans ce projet et c'était donc nouveau pour moi)
                                </li>
                                <li class="argument">
                                    Difficulté pour les différentes idées de fonction a concevoir.
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="Mail element">
            <div class="title_project">
                <p><i class="fa-solid fa-square-envelope"></i>  Mail </p>
            </div>
            <div class="projet_mail">
                <div class="elements_project">
                    <div class="url_project">
                        <a><i class="fab fa-github"></i> : <a class="github_project">Projet Mail</a></a>
                    </div>
                    <div class="state_project">
                        <a>État :  <i class="fa-solid fa-battery-three-quarters"></i></a>
                    </div>
                    <div class="language_project">
                        <a><i class="fa-solid fa-laptop-code"></i> : Python</a>
                    </div>
                    <div class="date_project">
                        <a><i class="fa-solid fa-calendar"></i> : 2023</a>
                    </div>
                </div>
                <div class="summary">
                    <div class="text_project">
                        <p>
                            Ce projet aura été très bref mais très intéressant à la fois.<br>
                            L'objectif visant à développer une interface de messagerie capable de recevoir, lire et envoyer des e-mails.<br>
                            Il s’agissait de créer un système simple de gestion de courriels.<br>
                            Ce projet a été réalisé en binôme avec Kyrian Balavoine.<br>
                            Réaliser ce projet m’a surtout permis de réaliser que ce domaine de l’informatique ne me convenait pas vraiment.<br>
                            Ce n’est pas que j’étais complètement perdu, mais je n’ai simplement ressenti aucun intérêt pour ce projet.<br>
                            Mais à vrai dire, ce qui m'a fait fuir ici, c'était le langage en lui-même.<br>
                        </p>
                    </div>
                    <div class="points_projects">
                        <div class="advantage_project">
                            <div class="column_plus">
                                <p><i class="fa-solid fa-square-plus"></i></p>
                            </div>
                            <div class="content_plus">
                                <li class="argument">
                                    Découverte de l'informatique sur le plan "Réseau".
                                </li>
                                <li class="argument">
                                    Re-découverte de certains commandes de terminal très utiles.
                                </li>
                            </div>
                        </div>
                        <div class="disadvantage_project">
                            <div class="column_minus">
                                <p><i class="fa-solid fa-square-minus"></i></p>
                            </div>
                            <div class="content_minus">
                                <p class="argument">
                                    <my-space number="5"></my-space>Le temps, malgré le peu de choses à réaliser dans ce projet,<br>
                                    <my-space number="5"></my-space>n'avoir qu'un seul mois pour le réaliser était vraiment dommage<br>
                                    <my-space number="5"></my-space>En fait, je pense que si le projet avait été poussé un peu plus loin, <br>
                                    <my-space number="5"></my-space>peut-être que j'en aurais pu en retirer une meilleure appréciation.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="HCL element">
            <div class="title_project">
                <p><i class="fa-solid fa-computer"></i> HCL </p>
            </div>
            <div class="projet_hcl">
                <div class="elements_project">
                    <div class="url_project">
                        <a><i class="fab fa-github"></i> : <a class="github_project"> Interpréteur </a></a>
                    </div>
                    <div class="state_project">
                        <a>État :  <i class="fa-solid fa-battery-half"></i></a>
                    </div>
                    <div class="language_project">
                        <a><i class="fa-solid fa-laptop-code"></i> : y86</a>
                    </div>
                    <div class="date_project">
                        <a><i class="fa-solid fa-calendar"></i> : 2024</a>
                    </div>
                </div>
                <div class="summary">
                    <div class="text_project">
                        <p>
                            Comment ne pas parler du projet sur lequel vous vous trouvez actuellement ?<br>
                            L'objectif de ce projet était principalement de découvrir de nouveaux outils, consolider mes compétences partie frontend principalement <br>et surtout faire une rétrospective de ce que j'ai acquis jusqu'à maintenant<br>
                            J'ai bien sûr réalisé ce projet en solo.<br>
                            Réaliser ce projet m'a permis de revoir divers éléments que j'avais déjà vus <br>et surtout de voir diverses choses que je n'avais pas faites moi-même dans certains projets antérieurs réalisés en groupe.<br>
                        </p>
                    </div>
                    <div class="points_projects">
                        <div class="advantage_project">
                            <div class="column_plus">
                                <p><i class="fa-solid fa-square-plus"></i></p>
                            </div>
                            <div class="content_plus">
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                            </div>
                        </div>
                        <div class="disadvantage_project">
                            <div class="column_minus">
                                <p><i class="fa-solid fa-square-minus"></i></p>
                            </div>
                            <div class="content_minus">
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="Gardener element">
            <div class="title_project">
                <p><i class="fa-solid fa-carrot"></i>  Gardener Game</p>
            </div>
            <div class="projet_gardener_game">
                <div class="elements_project">
                    <div class="url_project">
                        <a><i class="fab fa-github"></i> : <a class="github_project">Projet POO</a></a>
                    </div>
                    <div class="state_project">
                        <a>État :  <i class="fa-solid fa-battery-full"></i></a>
                    </div>
                    <div class="language_project">
                        <a><i class="fa-solid fa-laptop-code"></i> : Java</a>
                    </div>
                    <div class="date_project">
                        <a><i class="fa-solid fa-calendar"></i> : 2024</a>
                    </div>
                </div>
                <div class="summary">
                    <div class="text_project">
                        <p>
                            Comment ne pas parler du projet sur lequel vous vous trouvez actuellement ?<br>
                            L'objectif de ce projet était principalement de découvrir de nouveaux outils, consolider mes compétences partie frontend principalement <br>et surtout faire une rétrospective de ce que j'ai acquis jusqu'à maintenant<br>
                            J'ai bien sûr réalisé ce projet en solo.<br>
                            Réaliser ce projet m'a permis de revoir divers éléments que j'avais déjà vus <br>et surtout de voir diverses choses que je n'avais pas faites moi-même dans certains projets antérieurs réalisés en groupe.<br>
                        </p>
                    </div>
                    <div class="points_projects">
                        <div class="advantage_project">
                            <div class="column_plus">
                                <p><i class="fa-solid fa-square-plus"></i></p>
                            </div>
                            <div class="content_plus">
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                            </div>
                        </div>
                        <div class="disadvantage_project">
                            <div class="column_minus">
                                <p><i class="fa-solid fa-square-minus"></i></p>
                            </div>
                            <div class="content_minus">
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="PDL element">
            <div class="title_project">
                <p><i class="fa-solid fa-sitemap"></i>  PDL</p>
            </div>
            <div class="projet_pdl">
                <div class="elements_project">
                    <div class="url_project">
                        <a><i class="fab fa-github"></i> : <a class="github_project">PDL</a></a>
                    </div>
                    <div class="state_project">
                        <a>État :  <i class="fa-solid fa-battery-full"></i></a>
                    </div>
                    <div class="language_project">
                        <a><i class="fa-solid fa-laptop-code"></i> : Vue.js</a>
                    </div>
                    <div class="date_project">
                        <a><i class="fa-solid fa-calendar"></i> : 2025</a>
                    </div>
                </div>
                <div class="summary">
                    <div class="text_project">
                        <p>
                            Comment ne pas parler du projet sur lequel vous vous trouvez actuellement ?<br>
                            L'objectif de ce projet était principalement de découvrir de nouveaux outils, consolider mes compétences partie frontend principalement <br>et surtout faire une rétrospective de ce que j'ai acquis jusqu'à maintenant<br>
                            J'ai bien sûr réalisé ce projet en solo.<br>
                            Réaliser ce projet m'a permis de revoir divers éléments que j'avais déjà vus <br>et surtout de voir diverses choses que je n'avais pas faites moi-même dans certains projets antérieurs réalisés en groupe.<br>
                        </p>
                    </div>
                    <div class="points_projects">
                        <div class="advantage_project">
                            <div class="column_plus">
                                <p><i class="fa-solid fa-square-plus"></i></p>
                            </div>
                            <div class="content_plus">
                                <li class="argument">
                                    L’autonomie : contrairement à mes précédentes expériences, même avec des rendus réguliers,<br> on nous laissait réellement une grande liberté dans notre manière de travailler.                                
                                </li>
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                            </div>
                        </div>
                        <div class="disadvantage_project">
                            <div class="column_minus">
                                <p><i class="fa-solid fa-square-minus"></i></p>
                            </div>
                            <div class="content_minus">
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="Compilateur element">
            <div class="title_project">
                <p><i class="fa-solid fa-window-restore"></i> Mini-Compilateur</p>
            </div>
            <div class="projet_compilateur">
                <div class="elements_project">
                    <div class="url_project">
                        <a><i class="fab fa-github"></i> : <a class="github_project">Projet Compilateur</a></a>
                    </div>
                    <div class="state_project">
                        <a>État :  <i class="fa-solid fa-battery-half"></i></a>
                    </div>
                    <div class="language_project">
                        <a><i class="fa-solid fa-laptop-code"></i> : OCaml</a>
                    </div>
                    <div class="date_project">
                        <a><i class="fa-solid fa-calendar"></i> : 2025</a>
                    </div>
                </div>
                <div class="summary">
                    <div class="text_project">
                        <p>
                            Comment ne pas parler du projet sur lequel vous vous trouvez actuellement ?<br>
                            L'objectif de ce projet était principalement de découvrir de nouveaux outils, consolider mes compétences partie frontend principalement <br>et surtout faire une rétrospective de ce que j'ai acquis jusqu'à maintenant<br>
                            J'ai bien sûr réalisé ce projet en solo.<br>
                            Réaliser ce projet m'a permis de revoir divers éléments que j'avais déjà vus <br>et surtout de voir diverses choses que je n'avais pas faites moi-même dans certains projets antérieurs réalisés en groupe.<br>
                        </p>
                    </div>
                    <div class="points_projects">
                        <div class="advantage_project">
                            <div class="column_plus">
                                <p><i class="fa-solid fa-square-plus"></i></p>
                            </div>
                            <div class="content_plus">
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                            </div>
                        </div>
                        <div class="disadvantage_project">
                            <div class="column_minus">
                                <p><i class="fa-solid fa-square-minus"></i></p>
                            </div>
                            <div class="content_minus">
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="Site element">
            <div class="title_project">
                <p><a class="redirection_site" href="/"> <i class="fa-solid fa-sitemap"></i>  Mon Site Web</a></p>
            </div>
            <div class="projet_site">
                <div class="elements_project">
                    <div class="url_project">
                        <a><i class="fab fa-github"></i> : <a class="github_project">Site Web</a></a>
                    </div>
                    <div class="state_project">
                        <a>État :  <i class="fa-solid fa-battery-three-quarters"></i></a>
                    </div>
                    <div class="language_project">
                        <a><i class="fa-solid fa-laptop-code"></i> : JS HTML CSS</a>
                    </div>
                    <div class="date_project">
                        <a><i class="fa-solid fa-calendar"></i> : 2025</a>
                    </div>
                </div>
                <div class="summary">
                    <div class="text_project">
                        <p>
                            Comment ne pas parler du projet sur lequel vous vous trouvez actuellement ?<br>
                            L'objectif de ce projet était principalement de découvrir de nouveaux outils, consolider mes compétences partie frontend principalement <br>et surtout faire une rétrospective de ce que j'ai acquis jusqu'à maintenant<br>
                            J'ai bien sûr réalisé ce projet en solo.<br>
                            Réaliser ce projet m'a permis de revoir divers éléments que j'avais déjà vus <br>et surtout de voir diverses choses que je n'avais pas faites moi-même dans certains projets antérieurs réalisés en groupe.<br>
                        </p>
                    </div>
                    <div class="points_projects">
                        <div class="advantage_project">
                            <div class="column_plus">
                                <p><i class="fa-solid fa-square-plus"></i></p>
                            </div>
                            <div class="content_plus">
                                <li class="argument">
                                    Re-découverte approfondie du JavaScript
                                </li>
                                <li class="argument">
                                    Création différente de gérer une base de données 
                                </li>
                                <li class="argument">
                                    Découverte de nouveaux certains plugins
                                </li>
                            </div>
                        </div>
                        <div class="disadvantage_project">
                            <div class="column_minus">
                                <p><i class="fa-solid fa-square-minus"></i></p>
                            </div>
                            <div class="content_minus">
                                <li class="argument">
                                    Difficulté a créer un projet en n'ayant aucune directive<br>
                                    <my-space number=5></my-space>(Je me suis rendu compte que trouver l'inspiration pouvait prendre du temps).
                                </li>
                                <li class="argument">
                                    Difficulté rencontrée lors de la mise en forme d'une page(j'ai pas de bons goûts).
                                </li>
                                <li class="argument">
                                    Redondance de code flagrante remarquée et fichier bordélique remarqué
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>     
    </div>
</body>
</html>
