<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Site Lucas Rivoal</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/webjars/sweetalert2/11.10.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
    <script type="module" src="typescript.js"></script>
    <script type="module" src="projets.js"></script>
    <script src="/webjars/sweetalert2/11.10.1/dist/sweetalert2.min.js"></script>
</head>
<body class="home">
    <div th:replace="~{fragments/barre :: nav-barre}"></div>
    <div th:replace="~{fragments/theme :: theme_switch}"></div>
    <div class="General_project_page">
        <p class="introduction">
            Ici, vous pourrez retrouver une rétrospective de l'ensemble des projets que j'ai réalisés depuis l'ensemble de mon parcours.
            Certains sont achevés, d'autres inachevés, certains ont été réalisés en groupes tandis que certains sont personnels (comme la création de ce site par exemple).
            Bien évidemment, certains sont nés via l'idée de mon Université et d'autres proviennent de ma propre initiative.
            L'objectif de cette rubrique vous permettra donc de pouvoir constater l'état des autres projets auxquels j'ai contribué ainsi que de pouvoir voir l'ensemble des compétences informatiques que j'ai acquises jusqu'à maintenant.
        </p> 
    </div>
    <div class="List_of_Projects">
        <div class="Mosaïc element">
            <div class="title_project">
                <p> <i class="fa-solid fa-gamepad"></i> Mosaïc</p>
            </div>
            <div class="projet_mosaïc">
                <div class="elements_project">
                    <div class="url_project">
                        <a><i class="fab fa-github"></i> : <a class="github_project">Mosaïc</a></a>
                    </div>
                    <div class="state_project">
                        <a>État :  <i class="fa-solid fa-battery-full"></i></a>
                    </div>
                    <div class="language_project">
                        <a><i class="fa-solid fa-laptop-code"></i> : C</a>
                    </div>
                    <div class="date_project">
                        <a><i class="fa-solid fa-calendar"></i> : 2023-2024</a>
                    </div>
                </div>
                <div class="summary">
                    <div class="text_project">
                        <p>
                            Ce projet a été réalisé à l'Université durant ma seconde année, l'objectif d'origine était de réaliser un projet en groupe pour la première fois.<br>
                            J'ai donc réalisé ce projet avec Balavoine Kyrian et Lansana Diallo.<br>
                            J'ai beaucoup apprécié réaliser ce projet car j'ai acquis beaucoup de connaissances qui me servent encore aujourd'hui.<br>
                            Néanmoins, dire qu'il n'y eut aucun aspect négatif serait un mensonge.<br>
                        </p>
                    </div>
                    <div class="points_projects">
                        <div class="advantage_project">
                            <div class="column_plus">
                                <p><i class="fa-solid fa-square-plus"></i></p>
                            </div>
                            <div class="content_plus">
                                <li class="argument">
                                    La maîtrise d'un makefile et à quoi ça sert.
                                </li>
                                <li class="argument">
                                    L'intérêts de générer des tests.
                                </li>
                                <li class="argument">
                                    Première expérience sur la création graphique.
                                </li>
                            </div>
                        </div>
                        <div class="disadvantage_project">
                            <div class="column_minus">
                                <p><i class="fa-solid fa-square-minus"></i></p>
                            </div>
                            <div class="content_minus">
                                <li class="argument">
                                    Première expérience avec un cooéquipier pour le moins absent.
                                </li>
                                <li class="argument">
                                    Première grosse difficulté rencontrés sur la compréhension de réaliser une fonction(Undo/Redo).
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="Puissance_4 element">
            <div class="title_project">
                <p> <i class="fa-solid fa-gamepad"></i> Puissance 4</p>
            </div>
            <div class="projet_puissance_4">
                <div class="elements_project">
                    <div class="url_project">
                        <a><i class="fab fa-github"></i> : <a class="github_project">Puissance 4</a></a>
                    </div>
                    <div class="state_project">
                        <a>État :  <i class="fa-solid fa-battery-half"></i></a>
                    </div>
                    <div class="language_project">
                        <a><i class="fa-solid fa-laptop-code"></i> : C</a>
                    </div>
                    <div class="date_project">
                        <a><i class="fa-solid fa-calendar"></i> : 2024</a>
                    </div>
                </div>
                <div class="summary">
                    <div class="text_project">
                        <p>
                            Tout en faisant le projet Mosaïc, je me suis demandé si j'étais capable de réaliser un projet similaire de mon côté.<br>
                            L'objectif de ce projet était principalement de voir les mêmes éléments que le projet Mosaïc, mais de façon complètement autonome.<br>
                            J'ai donc réalisé ce projet seul.<br>
                            Bien que ce projet était très passionnant, j'ai malheureusement dû le mettre de côté petit à petit étant débordé par le projet Mosaïc initial<br>ainsi que les autres projets que l'on a commencé à me donner.<br>
                        </p>
                    </div>
                    <div class="points_projects">
                        <div class="advantage_project">
                            <div class="column_plus">
                                <p><i class="fa-solid fa-square-plus"></i></p>
                            </div>
                            <div class="content_plus">
                                <li class="argument">
                                    La maîtrise d'un makefile et à quoi ça sert.
                                </li>
                                <li class="argument">
                                    L'intérêts de générer des tests.
                                </li>
                                <li class="argument">
                                    Liberté de codage<br>(Par là, je souhaite dire que j'ai été libre de choisir<br>comment créer mes types avec ces différents arguments)
                                </li>
                            </div>
                        </div>
                        <div class="disadvantage_project">
                            <div class="column_minus">
                                <p><i class="fa-solid fa-square-minus"></i></p>
                            </div>
                            <div class="content_minus">
                                <li class="argument">
                                    Génération des Tests<br>(J'ai commencé a créer des tests dans ce projet et c'était donc nouveau pour moi)
                                </li>
                                <li class="argument">
                                    Difficulté pour les différentes idées de fonction a concevoir.
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="PDL element">
            <div class="title_project">
                <p><i class="fa-solid fa-sitemap"></i>  PDL</p>
            </div>
            <div class="projet_pdl">
                <div class="elements_project">
                    <div class="url_project">
                        <a><i class="fab fa-github"></i> : <a class="github_project">PDL</a></a>
                    </div>
                    <div class="state_project">
                        <a>État :  <i class="fa-solid fa-battery-full"></i></a>
                    </div>
                    <div class="language_project">
                        <a><i class="fa-solid fa-laptop-code"></i> : Vue.js</a>
                    </div>
                    <div class="date_project">
                        <a><i class="fa-solid fa-calendar"></i> : 2025</a>
                    </div>
                </div>
                <div class="summary">
                    <div class="text_project">
                        <p>

                        </p>
                    </div>
                    <div class="points_projects">
                        <div class="advantage_project">
                            <div class="column_plus">
                                <p><i class="fa-solid fa-square-plus"></i></p>
                            </div>
                            <div class="content_plus">
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                            </div>
                        </div>
                        <div class="disadvantage_project">
                            <div class="column_minus">
                                <p><i class="fa-solid fa-square-minus"></i></p>
                            </div>
                            <div class="content_minus">
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                                <li class="argument">
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="Site element">
            <div class="title_project">
                <p><a class="redirection_site" href="/"> <i class="fa-solid fa-sitemap"></i>  Mon Site Web</a></p>
            </div>
            <div class="projet_site">
                <div class="elements_project">
                    <div class="url_project">
                        <a><i class="fab fa-github"></i> : <a class="github_project">Site Web</a></a>
                    </div>
                    <div class="state_project">
                        <a>État :  <i class="fa-solid fa-battery-three-quarters"></i></a>
                    </div>
                    <div class="language_project">
                        <a><i class="fa-solid fa-laptop-code"></i> : JS HTML CSS</a>
                    </div>
                    <div class="date_project">
                        <a><i class="fa-solid fa-calendar"></i> : 2025</a>
                    </div>
                </div>
                <div class="summary">
                    <div class="text_project">
                        <p>
                            Comment ne pas parler du projet sur lequel vous vous trouvez actuellement ?<br>
                            L'objectif de ce projet était principalement de découvrir de nouveaux outils, consolider mes compétences partie frontend principalement <br>et surtout faire une rétrospective de ce que j'ai acquis jusqu'à maintenant<br>
                            J'ai bien sûr réalisé ce projet en solo.<br>
                            Réaliser ce projet m'a permis de revoir divers éléments que j'avais déjà vus <br>et surtout de voir diverses choses que je n'avais pas faites moi-même dans certains projets antérieurs réalisés en groupe.<br>
                        </p>
                    </div>
                    <div class="points_projects">
                        <div class="advantage_project">
                            <div class="column_plus">
                                <p><i class="fa-solid fa-square-plus"></i></p>
                            </div>
                            <div class="content_plus">
                                <li class="argument">
                                    Re-découverte approfondie du JavaScript
                                </li>
                                <li class="argument">
                                    Création différente de gérer une base de données 
                                </li>
                                <li class="argument">
                                    Découverte de nouveaux certains plugins
                                </li>
                            </div>
                        </div>
                        <div class="disadvantage_project">
                            <div class="column_minus">
                                <p><i class="fa-solid fa-square-minus"></i></p>
                            </div>
                            <div class="content_minus">
                                <li class="argument">
                                    Difficulté a créer un projet en n'ayant aucune directive<br>(Je me suis rendu compte que trouver l'inspiration pouvait prendre du temps).
                                </li>
                                <li class="argument">
                                    Difficulté rencontrée lors de la mise en forme d'une page(j'ai pas de bons goûts).
                                </li>
                                <li class="argument">
                                    Redondance de code flagrante remarquée et fichier bordélique remarqué
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>     
    </div>
</body>
</html>
