@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

body {
    background: #5A657A;
    color: white;
    font-family: "Roboto", sans-serif;
}

body h1 {
    margin-bottom: 20px;
}

body p {
    font-size: 18px;
    line-height: 30px;
}

body a {
    color: #FBD160;
}

svg {
    display: block;
    margin: 0 auto;
    overflow: visible !important;
}

/* Animations SVG */

#robot_1_ {
    animation: verticalAnimation 1s ease-in-out infinite alternate;
}

#light_1_ {
    animation: blinkLight 0.5s steps(2) infinite alternate;
}

#leftEye_1_,
#rightEye_1_ {
    animation: blinkEye 1.8s linear infinite alternate;
    transform-origin: 50% 50%;
}

#leftArm_1_ {
    animation: moveLeftArm 1s ease-in-out infinite alternate;
    transform-origin: 50% 10%;
}

#rightArm_1_ {
    animation: moveRightArm 1s ease-in-out infinite alternate;
    transform-origin: 50% 10%;
}

#shadow_1_ {
    animation: shadowAnimation 1s ease-in-out infinite alternate;
    transform-origin: 50%;
}

/* Keyframes */

@keyframes wave {
    0% {
        transform: rotate(120deg);
    }
    100% {
        transform: rotate(170deg);
    }
}

@keyframes moveLeftArm {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(4deg);
    }
}

@keyframes moveRightArm {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-4deg);
    }
}

@keyframes shadowAnimation {
    0% {
        transform: scale(1);
        opacity: 0.4;
    }
    100% {
        transform: scale(1.15);
        opacity: 0.6;
    }
}

@keyframes verticalAnimation {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

@keyframes blinkLight {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blinkEye {
    0% {
        transform: scaleY(0);
    }
    4% {
        transform: scaleY(1);
    }
}
