:root{
    --ecriture-swiper: #f1f1f1;
    --background-primaire: #0f3d2e;
    --background-collège: #102a43;
    --background-lycée: #3d2a14;
    --background-université: #3b1111;
    --background-presentation: #f1f1f1;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.swiper{
    width: 100vw;
    height: 93.3vh; /*pas optimal mais au moins j'ai le resultat voulu*/
}

.swiper-slide.presentation {
    font-size: 40px;
    color: var(--ecriture-swiper);
}

.swiper-slide.primaire, .swiper-slide.collège, .swiper-slide.lycée, .swiper-slide.université{
    font-size: 40px;
    color: #f1f1f1;
}

.presentation {
    background: var(--background-presentation);
}

.primaire{
    background: var(--background-primaire);
}

.collège{
    background: var(--background-collège)
}

.lycée{
    background: var(--background-lycée);
}

.université{
    background: var(--background-université);
}

.swiper-slide {
    justify-items: center;
    align-items: center;
    justify-content: center;
}