:root{
    --ecriture-swiper: #f1f1f1;
    --background-primaire: green;
    --background-collège: blue;
    --background-lycée: orange;
    --background-université: red;
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.swiper{
    width: 100vw;
    height: 93.3vh; /*pas optimal mais au moins j'ai le resultat voulu*/
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--ecriture-swiper);
}

.primaire{
    background: var(--background-primaire);
}

.collège{
    background: var(--background-collège)
}

.lycée{
    background: var(--background-lycée);
}

.université{
    background: var(--background-université);
}

.swiper-slide {
    justify-items: center;
    align-items: center;
    justify-content: center;
}