:root{
    --ecriture-swiper: #f1f1f1;
    --background-primaire: #0f3d2e;
    --background-collège: #102a43;
    --background-lycée: #3d2a14;
    --background-université: #3b1111;
    --background-presentation: #f1f1f1;
    --hover: #0039d4;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
}

.presentation {
    background: var(--background-presentation);
}

.primaire{
    background: var(--background-primaire);
}

.collège{
    background: var(--background-collège)
}

.lycée{
    background: var(--background-lycée);
}

.université{
    background: var(--background-université);
}

.swiper{
    width: 100vw;
    height: 93.3vh; /*pas optimal mais au moins j'ai le resultat voulu*/
}

.timeline {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
}

.timeline .event {
    background-color: #ffffff33;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 18px;
}

.swiper-slide.presentation {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    color: var(--ecriture-swiper);
}

.presentation_sco.niveau{
    margin-top: 5rem;
}

.presentation_sco.subtitle{
    margin: 4rem;
}

.presentation_sco.paragraphe{ 
    margin: 3rem;
    padding: 2rem;
    border-radius: 2rem;
    font-size: 24px;
    background-color: #5a575744;
}

.primaire.niveau, .collège.niveau, .lycée.niveau, .université.niveau{
    margin-top: 0.25rem;
}


.primaire.paragraphe{
    background-color: #5a575744;
    padding: 2rem;
    margin: 2rem;
    font-size: 24px;
    border-radius: 2rem;
}

.collège.subtitle, .lycée.subtitle, .université.subtitle{
    margin-top: 0.5rem; 
}

.collège.paragraphe, .lycée.paragraphe, .université.paragraphe{
    background-color: #5a575744;
    padding: 2rem;
    margin: 0.5rem 2rem 0.5rem 2rem;
    font-size: 24px;
    border-radius: 2rem;
}



.presentation_sco.direction, .primaire.direction-right, .collège.direction-right, .lycée.direction-right{
    font-size: 32px;
    padding: 1rem;
    bottom: -5%; /* J'ai pas trouvé mieux*/
    right: 1rem;
    cursor: pointer;
    position: absolute;
}

.primaire.direction-left, .collège.direction-left, .lycée.direction-left, .université.direction-left{
    font-size: 32px;
    padding: 1rem;
    cursor: pointer;
    bottom:-5%;
    left: 1rem;
    position: absolute;
}

.presentation_sco.direction:hover {
    color: var(--hover);
}

.direction-left:hover, .direction-right:hover{
    color: var(--hover);
}

.swiper-slide.primaire, .swiper-slide.collège, .swiper-slide.lycée, .swiper-slide.université{
    font-size: 40px;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
}

.swiper-slide {
    justify-items: center;
    align-items: center;
    justify-content: center;
}
